.container {
    display: flex;
   flex-wrap:wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .modelsList {


    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .btn{
    font-family: "Roboto", serif;
    width: 5rem;
    font-size: 1rem;
    color: white;
    border-radius: 0.375rem;
    padding: 0.625rem 0.625rem;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.211), 0 2px 14px rgba(0, 0, 0, 0.163);
    cursor: pointer;
    border: none;
    margin: 3rem;
  }
  
  .btn:hover {
    background-color: #3a5a40;
    text: white;
}