
.firstContainer {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  min-width: 100vh;
  width: 100%;

}

.secoundContainer {
  margin: 0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.211), 0 2px 14px rgba(0, 0, 0, 0.163);
  transition: border-color 0.3s, box-shadow 0.3s;
  display: flex;
  border-radius: 0.375rem;
  width: 80%;
  background-color: #ede0d4;

}

.imagem{
  width: 100%;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;

}

.imagem img{
  width: 110%;
  height: 100%;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
/* Final Estilos de Imagens*/

.formulario {
  max-width: 30rem;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  align-items: center;
  padding: 2rem;
}

.formulario h2 {
  padding: 2rem 4rem;
  text-align: center;
  font-size: 2rem;
}

.formulario form {

  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  
}

.formulario input {
  border: 0.1rem solid black;
  padding: 1rem;
  border-radius: 0.375rem;
}

.formulario ::placeholder {
  text-align: left;
}

.formulario button {
  font-size: 1.1rem;
  color: #fff;
  padding: 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  background-color: #3A5A40;
}

.formulario button:hover {
  background-color: #3A5A40;
}

.link {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  color: #3A5A40
}
.link:hover {
  text-decoration: underline;
}
.error{
color: red;
}