@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Navbar.module.css */
.navbar {
  font-family: "Roboto", serif;
  display: flex;
  justify-content: space-between; /* Organiza o logo à esquerda e os links à direita */
  align-items: center;
  padding: 0;
  border-bottom: 0.063rem solid #ccc;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo {
  width: 13.75rem; /* Ajuste o tamanho do logo conforme necessário */
  height: auto;
}

.perfil {
  width: 3rem; /* Ajuste o tamanho do logo conforme necessário */
  height: auto;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 1rem;
  padding: 0px;
  
}

.navItem {
  margin: 0 1rem; /* Ajuste a distância entre os itens da navbar */
  margin-right: 0;
  padding: 0.625rem;
  display: flex;
  align-items: center;
}

.navLink {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-decoration: none;
  font-size: 1.25rem; /*tamanho da letra altera aqui*/
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #3A5A40;
  background-color: #5c7260;
}

.navLink:focus {
  outline: none; /* Remove a linha de foco ao clicar */
}
.btnLogo {
  background-color: white;
  border: none;
  cursor: pointer;
}
