@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.buttonPedidoespecial {
  font-family: "Roboto", serif;
  background-color:#5c7260;
  font-size: 1rem;
  color: white;
  border-radius: 0.375rem;
  padding: 0.625rem 0.625rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.211), 0 2px 14px rgba(0, 0, 0, 0.163);
  cursor: pointer;
  border: none;
  margin-top: -7%;
  position:relative;
  margin-right: -2.5%;
}

.buttonPedidoespecial:hover {
  background-color: #5c7260;
    transform: scale(1.1);
    background-color: #3A5A40;
    color: white;
}

